<% layout('layout') -%>
<div class="container">
  <div class="row">
    <% if (success.length > 0 ) { %>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="alert alert-success alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong> <%= success %> </strong>
      </div>
    </div>
    <% } %>
    <% if(emails.length != 0) { %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Message To:</th>
        <th>Date Of Sending</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < emails.length; i++) {%>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= emails[i].subject %></td>
        <td><%= emails[i].message %></td>
        <td><%= emails[i].to %></td>
        <td><%= emails[i].dateOfSending.getDate() %> - <%= emails[i].dateOfSending.getMonth() %> - <%= emails[i].dateOfSending.getFullYear() %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } else { %>
    <div class="text-center">
      <h3>No mails sended yet.</h3>
    </div>
  <% } %>
  </div>
</div>
